<h1>Login Here</h1>
<div *ngIf ="failedLogin" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Failure!</strong> Incorrect username or password!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
        <p>Username</p>
        <input type="text" #username="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="Enter your registered email" name="userName" class="form-control" ngModel />
            <small class="form-text text-danger" *ngIf="username.touched && !username.valid">Invalid user
                name!</small></div>
    <div class="form-group">
        <p>Password</p>
        <input type="password" #password="ngModel" required minlength="4" placeholder="Enter Password" name="password"
            class="form-control" ngModel />
            <small class="form-text text-danger" *ngIf="password.touched && !password.valid">Stronger
                password is required!
            </small>
    </div>
    <button type="submit" class="my-3 btn btn-outline-primary" [disabled]="!loginForm.valid">
        login</button><br />
    New User? <a class="btn btn-outline-primary" role="button" routerLink="/register">Sign Up</a>
</form>